{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block profile %}

<div class="w3-card w3-round w3-white">
	<div class="w3-container">
		<h4 class="w3-center">Login</h4>
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Login</button>
		</form>
		<br />
	</div>
</div>
<br />

{% endblock %}

{% block content %}

<div class="w3-row-padding">
	<div class="w3-col m12">
		<div class="w3-card w3-round w3-white">
			<div class="w3-container w3-padding">
				<h4 class="w3-opacity">Please register here</h4>
				<img src="{% static 'core/images/farm_ambient.jpg' %}" alt="farm_ambient" style="width:100%;">
				<p>In order to manage your farm with SmartAGRO, you need to register.</p>
				<a href="/accounts/signup" class="w3-button w3-theme">Register</a> 
				<br />
				<br />
			</div>
		</div>
	</div>
</div>


{% endblock %}