{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block breadcrumbs %}
 	<ul class="breadcrumbs">
   		<li class="first"><a href="/core/index"><i class="fa fa-home w3-margin-right"></i></a></li>
   		<li><a href="/core/data">Data</a></li>
    	<li class="last active"><a href="/core/fields">Fields</a></li>
  	</ul>
{% endblock %}

{% block profile %}

<div class="w3-card w3-round w3-white">
	<div class="w3-container">
		<h4 class="w3-center">Fields</h4>
		<h6>Why should I add my fields?</h6>
		Because it's fun.
		<br />
		<br />
	</div>
</div>
<br />

{% endblock %}

{% block content %}

<div class="w3-row-padding">
	<div class="w3-col m12">
  		<div class="w3-card w3-round w3-white">
			<div class="w3-container w3-padding">
				<br/>
				<img src="{% static 'core/images/field.png' %}" alt="Avatar" class="w3-left w3-margin-right" style="width:60px">
				<h4>New field</h4>
				<hr class="w3-clear">
				<p>
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
			
						{% for field in form %}
							<p>
								{{ field.label_tag }}<br>
								{{ field }}
								{% if field.help_text %}
									<small style="color: grey">{{ field.help_text }}</small>
								{% endif %}
								{% for error in field.errors %}
									<p style="color: red">{{ error }}</p>
								{% endfor %}
							</p>
						{% endfor %}
			
						<button type="submit">Add field</button>
					</form>
				</p>
			</div>
  		</div>
	</div>
</div>
<br />

<div class="w3-row-padding">
	<div class="w3-col m12">
  		<div class="w3-card w3-round w3-white">
			<div class="w3-container w3-padding">
	  			<h6 class="w3-opacity">List of fields</h6>
	  			<table class="w3-table w3-striped">
	  				<tr>
	  					<th>#</th>
	  					<th>name</th>
	  					<th>area</th>
	  					<th>Action</th>
	  				</tr>
	  				{% for field in fields %}
	  				<tr>
	  					<td>0</td>
	  					<td>{{ field.name }}</td>
	  					<td>{{ field.area }}</td>
	  					<td><a href="/core/field/detail/{{ field.id }}">Detail</a></td>
	  				</tr>
	  				{% endfor %}
	  			</table>
			</div>
  		</div>
	</div>
</div>

{% endblock %}