{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block breadcrumbs %}
 	<ul class="breadcrumbs">
   		<li class="first"><a href="/core/index"><i class="fa fa-home w3-margin-right"></i></a></li>
   		<li><a href="/core/data">Data</a></li>
    	<li class="last active"><a href="/core/machines">Machines</a></li>
  	</ul>
{% endblock %}

{% block profile %}

<div class="w3-card w3-round w3-white">
	<div class="w3-container">
		<h4 class="w3-center">Machines</h4>
		<h6>Why should I add my machines?</h6>
		Because it's fun.
		<br />
		<br />
	</div>
</div>
<br />

{% endblock %}

{% block content %}

<div class="w3-row-padding">
	<div class="w3-col m12">
  		<div class="w3-card w3-round w3-white">
			<div class="w3-container w3-padding">
				<br/>
				<img src="{% static 'core/images/machine.png' %}" alt="Machine" class="w3-left w3-margin-right" style="width:60px">
				<h4>New machine</h4>
				<hr class="w3-clear">
				<p>
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
			
						{% for field in form %}
							<p>
								{{ field.label_tag }}<br>
								{{ field }}
								{% if field.help_text %}
									<small style="color: grey">{{ field.help_text }}</small>
								{% endif %}
								{% for error in field.errors %}
									<p style="color: red">{{ error }}</p>
								{% endfor %}
							</p>
						{% endfor %}
			
						<button type="submit">Add machine</button>
					</form>
				</p>
			</div>
  		</div>
	</div>
</div>

<div class="w3-row-padding">
	<div class="w3-col m12">
  		<div class="w3-card w3-round w3-white">
			<div class="w3-container w3-padding">
	  			<h6 class="w3-opacity">List of machines</h6>
	  			<table class="w3-table w3-striped">
	  				<tr>
	  					<th>#</th>
	  					<th>image</th>
	  					<th>name</th>
	  					<th>model / manufacturer</th>
	  					<th>company</th>
	  					<th>Action</th>
	  				</tr>
	  				{% for machine in machines %}
	  				<tr>
	  					<td>0</td>
	  					<td>
	  						{% if machine.image %}
	  							<img src="/{{ MEDIA_URL }}..{{ machine.image.url }}" style="width:40px" />
	  						{% else %}
	  							<img src="{% static 'core/images/machine.png' %}" style="width:40px" />
	  						{% endif %}
	  					</td>
	  					<td>{{ machine.name }}</td>
	  					<td>{{ machine.model.name }} / {{ machine.model.manufacturer.name }}</td>
	  					<td>abc</td>
	  					<td><a href="/core/machine/detail/{{ machine.id }}">Detail</a></td>
	  				</tr>
	  				{% endfor %}
	  			</table>
			</div>
  		</div>
	</div>
</div>

{% endblock %}