{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block profile %}

<div class="w3-card w3-round w3-white">
	<div class="w3-container">
		<h4 class="w3-center">Your data</h4>
		<h6>Why should I add my data?</h6>
		Because it's fun.
		<br />
		<br />
	</div>
</div>
<br />

{% endblock %}

{% block content %}

<div class="w3-row-padding">
    <div class="w3-col m12">
        <div class="w3-card w3-round w3-white">
        	<div class="w3-container w3-padding">
				<br/>
				<img src="{% static 'core/images/data.png' %}" alt="Avatar" class="w3-left w3-margin-right" style="width:60px">
				<h4>Your data</h4><br />
				<hr class="w3-clear">
				<p>
					<a href="/core/fields">Fields</a>
				</p>
				<p>
					<a href="/core/machines">Machines</a>
				</p>
				<p>
					<a href="/core/persons">Persons</a>
				</p>
			</div>
    	</div>
    </div>
</div>

{% endblock %}