{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block profile %}
	<!-- Profile -->
    <div class="w3-card w3-round w3-white">
        <div class="w3-container">
        	 {% if user.is_authenticated %}
        	<h4 class="w3-center">My Profile</h4>
         	<p class="w3-center"><img src="/w3images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         	<hr>
         	<p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{ user.get_username }}</p>
         	<p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
         	<p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
         	<a href="{% url 'logout' %}?next={{request.path}}">Logout</a>
         	{% else %}
     		<a href="{% url 'login' %}?next={{request.path}}">Login</a> 
   			{% endif %} 
        </div>
    </div>
    <br />
{% endblock %}

{% block content %}

      core

{% endblock %}