{% extends "base.html" %}

{% block profile %}

<div class="w3-card w3-round w3-white">
	<div class="w3-container">
		<h4 class="w3-center">Machines</h4>
		<h6>Why should I add my machines?</h6>
		Because it's fun.
		<br />
		<br />
	</div>
</div>
<br />

{% endblock %}

{% block content %}

<div class="w3-container w3-card w3-white w3-round w3-margin">
	<br/>
	<img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
	<h4>New machine</h4><br />
	<hr class="w3-clear">
	<p>
		<form method="post">
			{% csrf_token %}
			
			{% for field in form %}
      			<p>
					{{ field.label_tag }}<br>
					{{ field }}
					{% if field.help_text %}
						<small style="color: grey">{{ field.help_text }}</small>
					{% endif %}
					{% for error in field.errors %}
						<p style="color: red">{{ error }}</p>
					{% endfor %}
      			</p>
    		{% endfor %}
			
			<button type="submit">Add machine</button>
		</form>
	</p>
</div>

<div class="w3-row-padding">
	<div class="w3-col m12">
  		<div class="w3-card w3-round w3-white">
			<div class="w3-container w3-padding">
	  			<h6 class="w3-opacity">List of machines</h6>
	  			<p contenteditable="true" class="w3-border w3-padding">Status: Feeling Blue</p>
			</div>
  		</div>
	</div>
</div>

{% endblock %}