{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block breadcrumbs %}
 	<ul class="breadcrumbs">
   		<li class="first"><a href="{% url 'index' %}"><i class="fa fa-home w3-margin-right"></i></a></li>
   		<li><a href="{% url 'data' %}">Data</a></li>
    	<li><a href="{% url 'documentation_list' %}">Documentations</a></li>
    	<li class="last active"><a href="{% url 'documentation_detail' documentation.pk %}">{{ documentation }}</a></li>
  	</ul>
{% endblock %}

{% block profile %}

<div class="w3-card w3-round w3-white">
	<div class="w3-container">
		<h4 class="w3-center">Documentations</h4>
		<h6>Why should I add my documentations?</h6>
		Because it's fun.
		<br />
		<br />
	</div>
</div>
<br />

{% endblock %}

{% block content %}

<div class="w3-row-padding">
	<div class="w3-col m12">
  		<div class="w3-card w3-round w3-white">
			<div class="w3-container w3-padding">
				<br />
				<img src="{% static 'core/images/documentation.png' %}" alt="Documentation" class="w3-left w3-margin-right" style="width:60px">
				<h4>Documentation</h4>
				<hr class="w3-clear">
				<table class="w3-table w3-striped">
					<tr>
						<td>Date</td>
						<td>{{ documentation.date }}</td>
					</tr>
					<tr>
						<td>Duration</td>
						<td>{{ documentation.duration }} min</td>
					</tr>
					<tr>
						<td>Type</td>
						<td>{{ documentation.get_type_display }}</td>
					</tr>
					<tr>
						<td>Fields</td>
						<td>
							<ul>
								{% for field in documentation.fields %}
									{% if field %}
										<li><a href="{% url 'field_detail' field.pk %}">{{ field }}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</td>
					</tr>
					<tr>
						<td>Machines</td>
						<td>
							<ul>
	  							{% for machine in documentation.machines %}
	  								{% if machine %}
										<li><a href="{% url 'machine_detail' machine.pk %}">{{ machine }}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</td>
					</tr>
					<tr>
						<td>Persons</td>
						<td>
							<ul>
	  							{% for person in documentation.persons %}
	  								{% if person %}
										<li><a href="{% url 'person_detail' person.pk %}">{{ person }}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</td>
					</tr>
					<tr>
						<td>Fertilizer</td>
						<td>
							<ul>
	  							{% for fertilizer in documentation.fertilizers %}
	  								{% if fertilizer %}
										<li><a href="{% url 'fertilizer_detail' fertilizer.pk %}">{{ fertilizer }}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</td>
					</tr>
				</table>
				<br />
	  			<a href="{% url 'documentation_edit' documentation.pk %}" class="w3-button w3-theme-d1">Edit</a>
	  			<a href="{% url 'documentation_delete' documentation.pk %}" class="w3-button w3-theme-l4">Delete</a>
			</div>
  		</div>
	</div>
</div>

{% endblock %}