{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block breadcrumbs %}
 	<ul class="breadcrumbs">
   		<li class="first"><a href="{% url 'index' %}"><i class="fa fa-home w3-margin-right"></i></a></li>
    	<li class="last active"><a href="{% url 'documentation_list' %}">Documentations</a></li>
  	</ul>
{% endblock %}

{% block profile %}

<div class="w3-card w3-round w3-white">
	<div class="w3-container">
		<h4 class="w3-center">Documentations</h4>
		<h6>Why should I add my documentations?</h6>
		Because it's fun.
		<br />
		<br />
	</div>
</div>
<br />

{% endblock %}

{% block content %}

<div class="w3-row-padding">
	<div class="w3-col m12">
  		<div class="w3-card w3-round w3-white">
			<div class="w3-container w3-padding">
				<br/>
				<img src="{% static 'core/images/documentation.png' %}" alt="Documentation" class="w3-left w3-margin-right" style="width:60px">
				{% if object %}
					<h4>Edit {{ object }}</h4>
				{% else %}
					<h4>New documentation</h4>
				{% endif %}
				<hr class="w3-clear">
				<p>
					<form action="" method="post">
						{% csrf_token %}
        				{{ form.non_field_errors }}

  						{% for hidden_field in form.hidden_fields %}
    						{{ hidden_field.errors }}
    						{{ hidden_field }}
  						{% endfor %}

					  	<table class="w3-table w3-striped">
							{% for field in form.visible_fields %}
						  		<tr>
									<th>{{ field.label_tag }}</th>
									<td>
							  			{{ field.errors }}
							  			{{ field }}
							  			{{ field.help_text }}
									</td>
						  		</tr>
							{% endfor %}
					  	</table>

						<table class="w3-table w3-striped">
							{{ fields.management_form }}

							{% for form in fields.forms %}
								{% if forloop.first %}
									<thead>
									<tr>
										{% for field in form.visible_fields %}
											<th>{{ field.label|capfirst }}</th>
										{% endfor %}
									</tr>
									</thead>
								{% endif %}
								<tr class="{% cycle 'row1' 'row2' %} formset_row_fields">
									{% for field in form.visible_fields %}
										<td>
											{# Include the hidden fields in the form #}
											{% if forloop.first %}
												{% for hidden in form.hidden_fields %}
													{{ hidden }}
												{% endfor %}
											{% endif %}
											{{ field.errors.as_ul }}
											{{ field }}
										</td>
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
						
						<table class="w3-table w3-striped">
							{{ machines.management_form }}

							{% for form in machines.forms %}
								{% if forloop.first %}
									<thead>
									<tr>
										{% for field in form.visible_fields %}
											<th>{{ field.label|capfirst }}</th>
										{% endfor %}
									</tr>
									</thead>
								{% endif %}
								<tr class="{% cycle 'row1' 'row2' %} formset_row_machines">
									{% for field in form.visible_fields %}
										<td>
											{# Include the hidden fields in the form #}
											{% if forloop.first %}
												{% for hidden in form.hidden_fields %}
													{{ hidden }}
												{% endfor %}
											{% endif %}
											{{ field.errors.as_ul }}
											{{ field }}
										</td>
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
						
						<table class="w3-table w3-striped">
							{{ persons.management_form }}

							{% for form in persons.forms %}
								{% if forloop.first %}
									<thead>
									<tr>
										{% for field in form.visible_fields %}
											<th>{{ field.label|capfirst }}</th>
										{% endfor %}
									</tr>
									</thead>
								{% endif %}
								<tr class="{% cycle 'row1' 'row2' %} formset_row_persons">
									{% for field in form.visible_fields %}
										<td>
											{# Include the hidden fields in the form #}
											{% if forloop.first %}
												{% for hidden in form.hidden_fields %}
													{{ hidden }}
												{% endfor %}
											{% endif %}
											{{ field.errors.as_ul }}
											{{ field }}
										</td>
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
						<table class="w3-table w3-striped">
							{{ fertilizers.management_form }}

							{% for form in fertilizers.forms %}
								{% if forloop.first %}
									<thead>
									<tr>
										{% for field in form.visible_fields %}
											<th>{{ field.label|capfirst }}</th>
										{% endfor %}
									</tr>
									</thead>
								{% endif %}
								<tr class="{% cycle 'row1' 'row2' %} formset_row_fertilizer">
									{% for field in form.visible_fields %}
										<td>
											{# Include the hidden fields in the form #}
											{% if forloop.first %}
												{% for hidden in form.hidden_fields %}
													{{ hidden }}
												{% endfor %}
											{% endif %}
											{{ field.errors.as_ul }}
											{{ field }}
										</td>
									{% endfor %}
								</tr>
							{% endfor %}
						</table>
						<br />
						<input type="submit" class="w3-button w3-theme-d1" value="Save"/> <a href="{% url 'documentation_detail' object.pk %}" class="w3-button w3-theme-l4">Cancel</a>
					</form>
				</p>
			</div>
  		</div>
	</div>
</div>
<br />

{% endblock %}

{% block script %}

<script src="{% static 'core/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row_fields').formset({
        addText: 'add field',
        deleteText: 'remove',
        prefix: 'familymember_set'
    });
    $('.formset_row_machines').formset({
        addText: 'add machine',
        deleteText: 'remove',
        prefix: 'familymember_set'
    });
    $('.formset_row_persons').formset({
        addText: 'add person',
        deleteText: 'remove',
        prefix: 'familymember_set'
    });
    $('.formset_row_fertilizer').formset({
        addText: 'add fertilizer',
        deleteText: 'remove',
        prefix: 'familymember_set'
    });
</script>

{% endblock %}
